@import 'custom';

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html{
  width: 100%;
}

body{
    width: 100%;
    height: 100%;
    background-color: #a0522d;
    font-family: "Inter", sans-serif;
    
  }

  .inter-uniquifier {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  @keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

  main {
    width: 100%;
    background-image: url('../asset/feuilles.png'), url('../asset/branc.png');
    background-repeat: no-repeat, no-repeat;
    background-position: top left, bottom right -10%;
    padding-bottom: 10%;
    padding-top: 2%;
    animation: fadeIn 1s ease-in-out;

}
h1, h2{
  text-shadow: rgba(0, 0, 0, 0.37) 0px 5px 7px ;
}

.myimg{
    height: 400PX;
    width: 100%;
    object-fit: cover ;
    
}
.wrapper-header {
    position: relative;
  }
  
.mycaroussel-z-index {
    position: relative;
    z-index: 1;
}
.decoration{
    position: relative;
    z-index: -1;
    bottom: 2000px;
}
.nav-z-index{
    position: absolute;
    z-index: 3; 
    width: 100%;
    left:0%;
    top: 65%;
    height: auto;
  }

  a{
   list-style: none;
   text-decoration: none;
    color: white;
  }
   a:hover{
    color: $secondary !important;
  }
 
nav a{
  color: white !important;
}
nav a:hover{
  color: $secondary !important;
}

.mynav{
  background-color: $primary;
}
.navbar-collapse.show {
  background-color: $primary;
}

.filter-z-index {
    position: absolute;
    z-index: 2; 
    background: black;
    width: 100%;
    left:0%;
    top: 0;
    height: 100%;
    opacity: 0.5;
  }
.logo {
    position: absolute;
    z-index: 3; 
}
 .block-contain{
        background-color: #6b8e23; 
    background-color:rgba(44, 95, 45, 1) ;
        box-shadow: 0px 0px 5px 7px rgba(0, 0, 0, 0.1);
} 

footer{
    background-color:rgba(75, 64, 51, 1) ;
    width: 100%;
    padding: 5%;
    margin-top: auto;
}

.lien-buttons{
    background-color:rgba(44, 95, 45, 1) ;
    background-color: #6b8e23; 

    border: solid 1px rgba(44, 95, 45, 1);
    border-radius: 5px;
    padding: 1px 5px 1px 5px;
    color: white;
}

.imgcontents{
  width: 100%;
  height: 300px;
  object-fit: cover;
  box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.2);
  
}

.habitat-img {
  width: 100%; 
  max-width: 100%; 
  height: 200px;
  object-fit: cover; 
  border-radius: 10%;
  }

.myhover :hover{
  transition: all 400ms cubic-bezier(.47,1.64,.41,.8);
  transform: scale(1.1);
}

.mycard{
  width: 500px;
  border: 0px;
  background-color: $primary;
  color:white;
}

.size-card{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  max-width: 500px; 
  overflow-y: auto; 
  max-height: 90vh;
  z-index: 1000;
}
@media (max-width: 576px) {
  .size-card {
    width: 90vw;
    height: 90vh;
    max-width: 100%;
  transform: translate(-50%, -50%);
    max-height: 100%;
  }
  .mycard{
    width: 300px;
    border: 0px;
    background-color: $primary;
    color:white;
  }

}
.color_dark{
  background-color:rgba(75, 64, 51, 1) ;
}
.fix{
  height: 300px;
}



.bulle{
  width: 400px;
  height: 200px;
}

.tab_fix{
  height: 600px;
}

@media (max-width: 768px) {
  .table-responsive {
      overflow-x: auto; 
      display: block;
      white-space: nowrap; 
  }
}

table {
  width: auto; 
  border-collapse: collapse; 
}

// td {
//   white-space: nowrap; /* Empêche le texte de se mettre à la ligne */
//   width: 1px; /* Forçage pour que la cellule colle à son contenu */
// }

textarea.form-control {
  width: 100%;
  min-height: 100px; 
  height: auto;
  border: none;
  outline: none;
  resize: vertical; 
  font-size: 1rem;
  font-family: inherit;
}
.dashbox{
  width: 200px;
  height: 200px;
}

.img-dashboard{
  width: 100%;
  height: 100%;
}






